<div>
    <div class="row px-2 px-sm-5">
        <form method="post" action="">
            <div class="row ">
                <div class="col-12 col-sm-6">
                    <Label class="h4">Category Name:</Label><br>
                    <input type="text" class="form-control" name="category_name">
                </div>
                <div class="col-12 col-sm-6">
                    <Label class="h4">Email:</Label><br>
                    <input type="email" class="form-control" name="email">
                </div>
            </div>

            <div class="row mt-2 mt-sm-3">
                <div class="col-12 col-sm-6">
                    <Label class="h4">Password:</Label><br>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="col-12 col-sm-4">
                    <Label class="h4">Phone No:</Label><br>
                    <input type="number" class="form-control" name="phone_no">
                </div>
            </div>

            <div class="row mt-2 mt-sm-3">
                <div class="col-12 col-sm-6">
                    <Label class="h4">Address:</Label><br>
                    <input type="textarea" class="form-control" name="password">
                </div>
                <div class="col-12 col-sm-3">
                    <Label class="h4">State:</Label><br>
                    <input type="text" class="form-control" name="state">
                </div>
            </div>

            <div class="row mt-2 mt-sm-3">
                <div class="col-12 col-sm-3">
                    <Label class="h4">Postal code:</Label><br>
                    <input type="text" class="form-control" name="postcode">
                </div>
                <div class="col-12 col-sm-4">
                    <Label class="h4">Country:</Label><br>
                    <input type="text" class="form-control" name="country">
                </div>
            </div>


        </form>
    </div>

</div>